* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8c8d8e;
}

.calculator {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#display {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 28px;
    text-align: right;
    border: none;
    border-radius: 10px;
    background: #f3f3f3;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    height: 55px;
    font-size: 20px;
    border: none;
    background: #e7e7e7;
    cursor: pointer;
    transition: 0.2s;
    width: 55px;                 
    border-radius: 50%;  
}

.btn:hover {
    background: #d5d5d5;
}

.op {
    background: #d3e3ff;
}

.op:hover {
    background: #b6d0ff;
}

.equal {
    background: #a6f5b0;
}

.equal:hover {
    background: #92e69d;
}

#clear {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ffb5b5;
    cursor: pointer;
}

#clear:hover {
    background: #ffa1a1;
}
