body{
margin:0;
padding:0;
background:#4f85cb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial
}

.box{
width:350px;
background:#fff;
padding:25px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,.2);
text-align:center
}

.box input{
width:100%;
padding:12px;
margin:8px 0;
border-radius:6px;
border:1px solid #bbb
}

.box button{
width:100%;
padding:12px;
background:#4caf50;
color:#fff;
border:none;
border-radius:6px;
cursor:pointer
}

.box button:hover{
background:#449c48
}
